<style type="text/css">
	.left {
		width:20%;
		float:left;
	}
	
	 .right {
		width:20%;
		float:left;
	}
	.row {
		border-bottom: solid 1px;
		padding:10px;
	}
</style>
 <% @questionnaire_groups.each_with_index do |group,index| %>
        <b>Questionnaire group # <%= index + 1 %></b><br/>
        <% if params[:action] == "init_questionnaire" %>
        <b>Select approver:</b><%= select :approver_id,group.id,@employees.collect{|e| [e.full_name, e.id]} %><br/>
        <% else %>
        <b>Approver name:</b><span class=""><%= @vendor_questionnaire_groups[index].employee_name %></span><br/>
        <% end %>
        <b>List question :</b><br/>
        <% group.questions.each do |questionnaire_question| %>
			<% 
				i = 0
				q = questionnaire_question 
			%>
			<div class="row">
				<div class="question_area">
					 
					 <b> <%=h q.question %></b>
				</div>
				
				<div class="form" id="answers_area">
					<%= hidden_field "vendor_questionnaire_answers_#{i}", :question_id, :value => q.id %>
					<% vendor_answer = answer(@vendor_questionnaire, q) %>
					
					<% case q.question_type %>
					<% when Question::TYPES[:text] %>
						   <%= text_field "vendor_questionnaire_answers_#{i}", :answer, :value => vendor_answer %>
					<% when Question::TYPES[:list] %>
						   <%= text_area "vendor_questionnaire_answers_#{i}", :answer, :value => vendor_answer ,rows: "5",cols: "60"%>
					<% when Question::TYPES[:bool] %>
						   <div class="left">
						   	<%= radio_button "vendor_questionnaire_answers_#{i}", :answer, "Yes", :checked => (vendor_answer == "Yes") %> Yes
						   </div>
						   <div class="right">
						   	<%= radio_button "vendor_questionnaire_answers_#{i}", :answer, "No", :checked => (vendor_answer == "No")  %> No
						   </div>
					<% when (Question::TYPES[:multiple]) %>
							<% j = 1 %>
							<% q.question_answers.each do |answer| %>
								<div class="<%= j % 2 == 0 ? 'right' : 'left' %> answer_wrapper">
								    <%= check_box_tag "question_answer_ids_#{questionnaire_question.id}[]",  answer.id, is_vendor_answer(answer.id, @vendor_questionnaire) %>
								    <%= answer.answer %>
								    
							    </div>
							<% end %>
							
					<% when (Question::TYPES[:single]) %>
							<% j = 1 %>
							<% q.question_answers.each do |answer| %>
								<div class="<%= j % 2 == 0 ? 'right' : 'left' %> answer_wrapper">
								    <%= radio_button "vendor_questionnaire_answers_#{i}", :question_answer_id, answer.id, :checked => (vendor_answer == answer.id) %>
								    <%= answer.answer %>
							    </div>
							<% end %>
							
					<% end %>
					
				</div>
				<div class="clear"></div>
			</div>
			<% i += 1%>
			<% end %>
        <% end %>