<style type="text/css">
	.left {
		width:20%;
		float:left;
	}
	
	 .right {
		width:20%;
		float:left;
	}
	.row {
		border-bottom: solid 1px;
		padding:10px;
	}
</style>

<div class="field">
	<p><center><b><%= @questionnaire.title %></b></center></p>
</div>

<div class="field">
	
	<%= @questionnaire.description %>	
</div>

<div id="questionnaire_questions">
	<% @questionnaire_questions.each do |questionnaire_question| %>
			<% 
				i = 0
				q = questionnaire_question.question 
			%>
			<div class="row">
				<div class="question_area">
					 
					 <b> <%=h q.question %></b>
				</div>
				
				<div class="form" id="answers_area">
					
					<% case q.question_type %>
					<% when Question::TYPES[:text] %>
						   <%= text_field "vendor_questionnaire_answers_#{i}", :answer %>
					<% when Question::TYPES[:list] %>
						   <%= text_area "vendor_questionnaire_answers_#{i}", :answer %>
					<% when Question::TYPES[:bool] %>
						   <div class="left">
						   	
						   	<%= radio_button_tag "vendor_questionnaire_answers_#{i}", "Yes" %>
						   </div>
						   <div class="right">
						   	<%= radio_button_tag "vendor_questionnaire_answers_#{i}", "No"%>
						   </div>
					<% when (Question::TYPES[:multiple]) %>
							<% i = 1 %>
							<% q.question_answers.each do |answer| %>
								<div class="<%= i % 2 == 0 ? 'right' : 'left' %> answer_wrapper">
								    <%= check_box_tag "question_answer_ids_#{questionnaire_question.id}[]",  answer.id %>
								    <%= answer.answer %>
							    </div>
							<% end %>
							
					<% when (Question::TYPES[:single]) %>
							<% i = 1 %>
							<% q.question_answers.each do |answer| %>
								<div class="<%= i % 2 == 0 ? 'right' : 'left' %> answer_wrapper">
									
								    <%= radio_button_tag "vendor_questionnaire_answers_#{i}", answer.id %>
								    <%= answer.answer %>
							    </div>
							<% end %>
							
					<% end %>
					
				</div>
				<div class="clear"></div>
			</div>
			<% i += 1%>
			<% end %>
</div>

