<%= form_for(@vendor_questionnaire_group) do |f| %>
  <% if @vendor_questionnaire_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor_questionnaire_group.errors.count, "error") %> prohibited this vendor_questionnaire_group from being saved:</h2>

      <ul>
      <% @vendor_questionnaire_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :approval_status %><br />
    <%= f.text_field :approval_status %>
  </div>
  <div class="field">
    <%= f.label :string, %><br />
    <%= f.text_field :string, %>
  </div>
  <div class="field">
    <%= f.label :questionnaire_group_id %><br />
    <%= f.number_field :questionnaire_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
