<%= form_for(@questionairre_item) do |f| %>
    <% if @questionairre_item.errors.any? %>
        <div id="error_explanation" style="color:darkred; padding:7px;border: 1px solid #eee;max-width: 242px;">
          <ul>
            <% @questionairre_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <br/>
    <% end %>
    <div class="field">
      <%= f.label "Question: " %>
      <br/>
      <%= f.text_area :question, :rows => 5 %>
    </div>
    <div class="field">
      <br/>
      <%= f.label "Type: " %>
      <% choices = @types.map { |type| [type.gsub('_', ' ').capitalize, type] } %>
      <%= f.select :question_type, choices %>
    </div>

    <div class="actions" style="text-align: center">
      <br/>
      <%= f.submit 'Save & Continue' %>
    </div>
<% end %>
<script type="text/javascript">
    jQuery('#new_questionairre_item').on('submit', function () {

        jQuery.ajax({
            url: jQuery(this).attr('action'),
            data: jQuery(this).serialize(),
            type: 'POST',
//            dataType: 'json',
            success: function (response) {
                jQuery('#_step_wrapper').html(response);
            },
            error: function () {

            }
        });
        return false;
    });
</script>