<%= form_for(@questionnaire_group) do |f| %>
  <% if @questionnaire_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questionnaire_group.errors.count, "error") %> prohibited this questionnaire_group from being saved:</h2>

      <ul>
      <% @questionnaire_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :questionnaire_id %><br />
    <%= f.number_field :questionnaire_id %>
  </div>
  <div class="field">
    <%= f.label :approver_id %><br />
    <%= f.number_field :approver_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
