<h1>Listing questionnaire_groups</h1>

<table>
  <tr>
    <th>Questionnaire</th>
    <th>Approver</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questionnaire_groups.each do |questionnaire_group| %>
  <tr>
    <td><%= questionnaire_group.questionnaire_id %></td>
    <td><%= questionnaire_group.approver_id %></td>
    <td><%= link_to 'Show', questionnaire_group %></td>
    <td><%= link_to 'Edit', edit_questionnaire_group_path(questionnaire_group) %></td>
    <td><%= link_to 'Destroy', questionnaire_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Questionnaire group', new_questionnaire_group_path %>
