<style type="text/css">
  .field {
    padding:20px 0px 20px 0px;
  }
  .question_area{
          width: 79%;
          float: left;
          border:#efee9f 1px solid;
          background: #F9F9F9;
        }
        #answers_area{
          width: 79%;
          float: left;
          border:#efee9f 1px solid;
          background: #F9F9F9;
        }
        .approve{
           height: 150px;
           width:auto;
           background-image: url("/assets/icons/approve.png");
           background-repeat: no-repeat;
        }
        .reject{
           height: 150px;
           width:auto;
           background-image: url("/assets/icons/reject.png");
           background-repeat: no-repeat;
        }
  
</style>
<div id="container">
  <% if @vendor_questionnaire.approval_status == "approved" %>
  <div class="congratulations"
    <h3>Congratulations !</h3>
    <h3>Your application is completed and is good until <%= @vendor_questionnaire.completed_at.strftime("%m/%d/%Y %H:%M") %></h3>
    </div>
  <% end %>
  <div class="field">
    <label><b>Sent to: </b></label>
    <%= @vendor_questionnaire.vendor.name %>
  </div>
  <%= form_tag @action_url, :method => "POST" do %>
    <%= render "questionnaires/questionnaire_detail" %>
    <% @text = "Vendor signature" %>
    <% @sign = @vendor_questionnaire.signatures.first.try(:sign) %>
    <% if @sign.present? %>
    <%= render "vendor_signature" %>
    <% end %>
    <% end %>
  </div>