<li><%= img_button "Create New Questionnaire", "questionnaire_add.png", new_questionnaire_path %></li>
<li><%= img_button "Questions by ID", "vendor.png", questionnaires_path %></li>
<li><%= img_button_function("Print", "print.png", "window.print()") %></li>

<% if params[:action] == "edit" || params[:action] == "new" %>
  <li><%= img_button_function("Save Entry", "save.png", "$('#{form_id(@questionnaire)}').submit()") %></li>
<% end %>
<% if params[:action] == "show"  %>
  <li>
  	<%= img_button "Init Questionnaire", "next.png", init_questionnaire_workflow_path(@questionnaire) %>
  </li>
<% end %>
<li></li>
